<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exemple d'utilisation du modèle <%= modelName %></title>
    <%- include('../partials/head'); %>
    <script type="module" src="js/efficient-det.js"></script>
</head>
<body>
<header class="container center">
    <%- include('../partials/header'); %>
</header>
<%- include('../partials/preloader'); %>
<%- include('../partials/image_list'); %>
</body>
</html>