<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exemple d'utilisation du modèle <%= modelName %></title>
    <%- include('../partials/head'); %>
    <!-- Importer la bibliotéque TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest" type="text/javascript"></script>
    <!-- Importer le modèle Coco SSD -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
    <script type="module" src="js/coco-ssd.js"></script>
</head>
<body>
<header class="container center">
    <%- include('../partials/header'); %>
</header>
<%- include('../partials/preloader'); %>
<%- include('../partials/image_tabs'); %>
</body>
</html>